/* Codecademy Reset.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  box-sizing: inherit;
  font-size: inherit;
  color: inherit;
}

h1, h2, h3, h4, h5 {
  display: block;
  font-weight: 400;
}

li, span, p, a, h1, h2, h3, h4, h5 {
  line-height: 1;
}

a {
  text-decoration: none;
}
